<%- include("partials/header") -%>
<% if (user._id == viewedUser.id) { %>
    <h2>Welcome back, <%= viewedUser.name %></h2>
<% } else { %>
    <h2>You are viewing <%= viewedUser.name %>'s Profile</h2>
<% } %>
<br>
<div class="data">
    <p>Name: <%= viewedUser.name %></p>
    <p>Room: <%= viewedUser.room %></p>
    <p>Email: <%= viewedUser.email %></p>
</div>

<% if (user._id == viewedUser.id) { %>
    <form action="/profile/<%= user._id %>" method="POST">
        <h2>Edit Profile</h2>
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= user.name %>" required />
        <div class="name error"></div>
        <label for="room">Room</label>
        <input type="text" name="room" value="<%= user.room %>" required />
        <div class="room error"></div>
        <label for="email">Email</label>
        <input type="text" name="email" value="<%= user.email %>" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" />
        <div class="password error"></div>
        <button>Edit</button>
    </form>
<% } %>

<%- include("partials/footer") -%>