<%- include("partials/header") -%>
<% if (user._id == viewedUser.id) { %>
    <h2>Welcome back, <%= viewedUser.name %></h2>
<% } else { %>
    <h2>You are viewing <%= viewedUser.name %>'s Profile</h2>
<% } %>
<br>
<div class="data">
    <p>Name: <%= viewedUser.name %></p>
    <p>Room: <%= viewedUser.room %></p>
    <p>Email: <%= viewedUser.email %></p>
</div>

<%- include("partials/footer") -%>