<%- include("partials/header") -%>
<h2>Welcome back, <%= user.name %></h2>
<br>
<div class="data">
    <p>Name: <%= user.name %></p>
    <p>Room: <%= user.room %></p>
    <p>Email: <%= user.email %></p>
</div>

<%- include("partials/footer") -%>