<html lang="en">
    <%- include("../partials/request-header.ejs") -%>
    <body>
        <%- include("../partials/request-nav.ejs") -%>
        <div class="details content">
            <h1><%= request.category %> - <%= request.credit %> credit(s)</h1>
        <div class="content">
            <p><%= request.remark %></p>
            <p>made by <%= request.ownerName %></p>
            <% if (request.takenBy == null) { %>
                <p>Your request is not taken yet</p>
            <% } else { %>
                <p>taken by <a href="/favours/profile/<%= request.takenBy %>" style="text-decoration: underline;"><%= request.takerName %></a></p>
                <% if (user.id == request.owner && request.status == "Taken") { %>
                    <a class="remove-btn" id="r_<%= request._id %>" onclick="remove('r_<%= request._id %>')" data-request="<%= request._id %>" data-user="<%= user._id %>">Remove Taker</a>
                    <a  class="remove-btn" id="c_<%= request._id %>" onclick="completeRequest('c_<%= request._id %>')" data-request="<%= request._id %>" data-user="<%= user._id %>" data-takenBy="<%= request.takenBy %>">Complete Request</a>
                <% } %>
            <% } %>
            
        </div>
        <% if (user.id == request.owner) { %>
            <a class="edit" data-doc="<%= request._id %>">
                EDIT
            </a>
            <a class="delete" data-doc="<%= request._id %>" onclick="deleteRequest()">
                DELETE
            </a>
        <% } %>
    </div>

    <% if (user.id == request.owner) { %>
        <form action="/favours/<%= request._id %>" method="POST">
            <h2>Edit request</h2>
            <label for="category">Request category:</label>
            <input type="text" id="category" name="category" value="<%= request.category %>" required>
            <div class="category error"></div>
            <label for="credit">Request credit:</label>
            <input type="text" id="credit" name="credit" value="<%= request.credit %>" required>
            <div class="credit error"></div>
            <label for="remark">Request remark:</label>
            <textarea id="remark" name="remark"><%= request.remark %></textarea>
            <div class="remark error"></div>
            <button>Edit</button>
        </form>
    <% } %>

    <%- include("../partials/request-footer.ejs") %>

    <script>
        function remove(id) {
            const remove = document.getElementById(id);
            const endpoint = `/favours/remove/${remove.dataset.request}`;
            fetch(endpoint, {
            method: 'POST',
            body: JSON.stringify({ userID: remove.dataset.user }),
            headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        }

        function deleteRequest() {
            const trashcan = document.querySelector('a.delete');
            const endpoint = `/favours/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        }    
        
        function completeRequest(id) {
            const complete = document.getElementById(id);
            const endpoint = `/favours/complete/${complete.dataset.request}`;
            fetch(endpoint, {
            method: 'POST',
            body: JSON.stringify({ userID: complete.dataset.user, takenByID: complete.dataset.takenby }),
            headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        }
    </script>
    </body>
</html>
