<html lang="en">
  <%- include('../partials/request-header'); -%>
  <body>
    <%- include("../partials/request-nav.ejs") -%>
    
    <div class="requests content">
      <h2>All Requests</h2>
  
      <% if (requests.length > 0) { %>
        <% requests.forEach(request => { %>
          <% if (request.status == "Available") { %>
            <br>
            <a class="single" href="/favours/<%= request._id %>">
              <h3 class="category"><%= request.category %> - <%= request.credit %> credit(s)</h3>
              <p class="remark"><%= request.remark %></p>
              <p>made by <a href="/profile/<%= request.owner %>" style="text-decoration: underline;"><%= request.ownerName %></a></p>
            </a>
            <% if (user.id == request.owner) { %>
              <a class="view-btn" href="/favours/<%= request._id %>">View</a>
            <% } else { %>
              <% const ref = request._id; %>
              <a class="take-request-btn" data-request="<%= request._id %>" data-user="<%= user._id %>" id="<%= ref %>" onclick="takeRequest('<%= ref %>')">Take Request</a>
            <% } %>
          <% } %>
        <% }) %>
      <% } else { %>
        <p>There are no active requests to display...</p>
      <% } %>
      <br>
      <a href="favours/create" class="create-btn">Create</a>
    </div>

  <%- include('../partials/request-footer'); -%>
  <script>
    function takeRequest(id) {
      console.log(id);
      const takeRequestBtn = document.getElementById(id);
      console.log(takeRequestBtn);
      const endpoint = `/favours/take-request/${takeRequestBtn.dataset.request}`;
        fetch(endpoint, {
          method: 'POST',
          body: JSON.stringify({ takenBy: takeRequestBtn.dataset.user }),
          headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
    }
  </script>
  </body>
</html>